*{box-sizing: border-box;}

html, body{
    margin: 0;
}

.content-box{
    width: 100%;
}

.dep-list-container{
    text-align: center;
}

.filter-input{
    margin-left: 0.5%;
}

.dep-list{

}

.btn{
}  
