*{box-sizing: border-box;}

:root{
    --bg-color-light: white;
    --bg-color-dark: black;
    
    --text-color-light: black;
    --text-color-dark: lightblue;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-dark);
    color: var(--bg-color-dark);
    background-color: #1E1E1E;
    color: #CE9178;
    /* background-color: ghostwhite; */
}

.dep-container{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.dep-list-container{
    float: left;
    width: 69%;
    padding: 5px;
}

.dep-action-container{
   position: absolute;
   bottom: 5px;
   right: 5px;
   width: 29%;
   padding: 5px;
}

.content-box{
    width: 99%;
    margin: 0.5%;
    height: 80px;
}
.content-box-dark{

        background-color: #1E1E1E;
    color: #CE9178;
}
.content-box-light{
    color: black;
    background-color: white;
}

.dep-list{
    text-align: center;
}

.filter-input{
    margin-left: 0.5%;
}
.file-filter:hover{
    cursor: not-allowed;
}

.dep-list{

}

.btn{
    margin: 2px 4px 0 0;
}
.btn:hover{
    cursor: pointer;
    background-color: lightblue;
    color: white;
}

.dep-toggle{
    margin-left: 0.5%;

}

.dep-toggle:hover{
    cursor: pointer;
    background-color: lightblue;
    color: white;
}

.toggle-on{
    background-color: gray;
    color: white;
}

.hidden{
    display: none;
}

.select-mode{
    margin-left: 0.5%;
}

.light-dark-btn{
    position: absolute;
    right: 0;
    background-color: none;
}

.dark-mode-btn-img{
    width: 22px;
    aspect-ratio: 1/1;
}

.light, .dark{
    align-items: center;
}