*{box-sizing: border-box;}

html, body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.dep-container{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.dep-list-container{
    float: left;
    width: 69%;
    padding: 5px;
}

.dep-action-container{
   position: absolute;
   bottom: 5px;
   right: 5px;
   width: 29%;
   padding: 5px;
}

.content-box{
    width: 99%;
    margin: 0.5%;
    height: 80px;
}

.dep-list{
    text-align: center;
}

.filter-input{
    margin-left: 0.5%;
}

.dep-list{

}

.btn{
    margin: 2px 4px 0 0;
}
.btn:hover{
    cursor: pointer;
    background-color: lightblue;
    color: white;
}

.dep-toggle{
    margin-left: 0.5%;

}

.dep-toggle:hover{
    cursor: pointer;
    background-color: lightblue;
    color: white;
}

.toggle-on{
    background-color: gray;
    color: white;
}

.hidden{
    display: none;
}

.select-mode{
    margin-left: 0.5%;
}